.header {
    position: fixed;
    height: 90px; width: 100%;
    top: 0; left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;height: 100%;
    padding: 0 1rem;
}

.header .navbar img {
    width: 250px;
    height: auto;
}

.hamburger {display: none}

.navbar .nav-menu { display: flex}

.navbar .nav-item {
    padding: 1rem;
    font-weight: 500;
}
.navbar .nav-item  a {color: #fff}

.navbar .nav-item  a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

@media screen and (max-width: 940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0, 0, 0, .9);
    }

    .header .navbar {
        max-width: 100%;
    }

    .navbar img {
        width: 120px; height: auto;
    }

    .hamburger {display: block}

    .nav-menu {
        position: fixed;
        left: -100%; top: 90px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .9);
        width: 100%; height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

}